* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.contaner {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: stretch; 
}

.masseges {
  background-color: black;
  min-height: 100vh;
  height: 100vh;
  width: 200px;
  color: aliceblue;
}

.pagesContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .masseges {
    display: none;
  }
  .pagesContent {
    width: 100%;
  }
}
