.navpar {
  width: 100%;
  height: 50px;
  background-color: rgb(59, 45, 255);
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.boxLinks {
  width: 1 00%;
  display: flex;
  justify-content: space-around;
  gap: 40px;
}
.link {
  font-size: 20px;
  color: aliceblue;
  text-decoration: none;
}
.boxSearch input {
  width: 300px;
  height: 30px;
  border-radius: 10px 0 10px 0;
  border: 2px solid rgb(11, 124, 237);
  padding: 0 10px;
}
